{% extends "base.html.twig" %}

{% block body %}

<div class="container">
        <div class="row justify-content-center">
        <div class="col-6">
          <h1 class="text-center">{{article.title}}</h1>
          <br><br>
          <p>{{article.content}}</p>
          <time class="text-right">{{article.date}}</time>
          <p>{{article.user.username}}</p>
        </div>
      </div>
      <hr>


        <div class="row mb-5 ">
            <div class="col-6">
              <form action="" method="post">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Ecris ton commentaire ici</label>
                  <textarea class="form-control" name="comments" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <button type="submit" class="btn btn-primary">Envoyer</button>
                  
                </div>
              </form>
              <span>
              {{succes}}
              </span>
              
            </div>
        </div>

        {% for comment in comments %} 
            <div class="col-md-6 mb-5">
                  <div class="mb-1 text-muted">{{comment.user.username}}</div>
                  <p class="card-text mb-auto">{{comment.comment}}</p>
                  <p class="card-text mb-auto">{{comment.date}}</p>
            </div>
        {% endfor %}
</div>
  
{% endblock %}
    
