{% extends "base.html.twig" %}

{% block body %}

    <title>{{article.title}}</title>
    </head>
    <body>
        <h1>{{article.title}}</h1>
        <time>{{article.date}}</time>
        <br><br>
        <p>{{article.content}}</p>
        <hr>

        <div class="row">
            <div class="col-6">
              <form action="" method="post">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Ecris ton commentaire ici</label>
                  <textarea class="form-control" name="comments" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
              </form>
            </div>
        </div>

        {% for comment in comments %} 
            <div class="col-md-6">
                  <div class="mb-1 text-muted">{{comment.username}}</div>
                  <p class="card-text mb-auto">{{comment.comment}}</p>
                  <p class="card-text mb-auto">{{comment.date}}</p>
            </div>
        {% endfor %}
  
{% endblock %}
    
